
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito:wght@200;300;400;500;600&display=swap');

.bodyp{

    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all 2.s linear;
    text-transform: capitalize;
}




/*  
articulos.html{
    font-size: 65%;
/* use overFlow que permite que dos secciones no se desborden  
    overflow: hidden;
}



.bodyp {
    background-color: #eee ;

}

img {
    max-width: 100%;
    max-height: 100%;
    }


.container{
    max-width: 1440px;
    margin: 0 , auto ;
    padding: 3rem 2rem;

}


.container.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    
}

.container.titulo{
    font-size: 3.5rem;
    color: #444;
    margin-bottom: 3rem ;
    text-transform: uppercase;
    text-align: center;

    }


    .producto>img {
    object-fit: cover;
    width: 100%;
}








.container.product-container.producto{

    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0.5rem 1rem  rgba(0,0,0,0.1);
    outline: 0.1 solid #ccc;
    outline-offset: 1.5rem;
    cursor : pointer

}

/*aca  empiezo a lograr  que se modifique el estilo cuando el cursor esta sobre la foto del producto

.container.products-container.producto:hover{
    outline: 0.3 rem solid#222;
    outline-offset: 0 #222;
}


.container.products-container.producto img{
    height: 25rem;
    
}

.container.products-container .producto:hover img{
    transform: scale(0.8);

}

/*aca  empiezo a modificar el titulo y la info de las fotos



.container .container.products-container .producto h3{
    padding: 5rem 0;
    font-size:2rem ;
    color: #444;
}

.container .container.product-container .producto:hover h3{
    color:red


}


.container .container.product-container .producto .info{
     font-size:2rem ;
    color: #444;
}


*/


.bodyp {
    background-color: #eee ;

}

body {
    margin: 0 auto;
    
    padding: 1em 0;
    justify-content: center;
    
  }
  
  .grid {
    /* Grid Fallback */
    display: flex;
    flex-wrap: wrap;
    
    /* Supports Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1em;
  }

.grid{
    justify-content: center;
}


  .producto >img {
    object-fit: cover;
    width: 100%;
  }

  .info >img {
    object-fit:contain;
    width: 100%;
  }




  .module {
    /* Demo-Specific Styles */
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    
    /* Flex Fallback */
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 200px;
  }
  
  